.tabbar{
  height: 50px; position: fixed; 
  bottom: 0; width: 100%; max-width: 768px;
  border-top: 0.01rem solid #ccc; background: #fff;
}
.tabbar-children{
  padding-bottom: 50px; height: 100%; box-sizing: border-box;
}
.tabbar-content{
  display: flex; height: 100%;
}
.tabbar-item{
  flex: 1; display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
  flex-direction: column;
}
.iconfont{
  font-size: 22px !important;
  margin-bottom: 2px;
}
.tabbar-text{
  font-size: 12px;
}
.active{
  color: #f00 !important;
}
a{
  text-decoration: none;
  color: #333;
}

/* a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #333;
} */