
.set-container {
	padding: 2rem 0;
	.loginout-btn{
		width: 88%; height: 0.8rem; line-height: 0.8rem;
		display: block; border-radius: 0.4rem;  
		color: #fff; font-size: 0.30rem; 
		background: #e2e2e2;  
		margin: 0 auto;
		border: none; box-shadow: none; 
		outline: none; cursor: pointer;
	}
}